.nexis-addon-containers {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    top: 0px;
    left: 0px;

    z-index: 100;
}

.nexis-addon-edge-horizontals {
    width: 100%;
    height: 0px;
    position: absolute;

    display: flex;
    flex-direction: row;
}


.nexis-addons {
    position: absolute;
    translate: -50% -50%;
    /* background-color: black; */
    pointer-events: all;
    overflow: hidden;

    left: 0px;

    /* default */
    &.nexis-addon-reorganizing {
        transition: left 100ms linear;
    }

    &:not(.addon-edge-aliases).addons-side-rotated {
        rotate: -90deg;
    }
}

.nexis-addon-hidden {
    visibility: hidden;
}

.nexis-addon-edges {
    position: absolute;

    /* use the following for debugging */
    /* height: 10px;
  background: orange; */
}

.nexis-addon-edges-left {
    left: 0px;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.nexis-addon-edges-right {
    right: 0px;
    transform: rotate(90deg) translateX(100%);
    transform-origin: 100% 0;
}

.nexis-addon-edges-top {
    top: 0px;
}

.nexis-addon-edges-bottom {
    bottom: 0px;
}

.addon-edge-aliases {
    border-radius: 0px;
    overflow: visible;
    height: 0px;

    /* background: red !important; */
    &>.addon-edge-alias-contents {
        display: flex;
        flex-direction: row;
        height: 0px;

        &>.nexis-addons {
            position: relative;
            translate: 0% -50%;
        }
    }
}



.nexis-addon-connectors {
    border-radius: 50%;
    aspect-ratio: 1;

    border: solid black 3px;
}

.nexis-addon-connectors:hover,
.nexis-addon-connectors.selected {
    cursor: pointer;
    background: grey !important;
}


.nexis-addon-snaps {
    background: linear-gradient(90deg, black 0%, black 50%, transparent 50%);

    &>* {
        position: relative;
        left: 50%;
        top: 50%;
        translate: -50% -50%;

        border-radius: inherit;

        width: calc(50%);
        height: calc(50%);
        background: black;
        border: solid white 2px;
    }
}

.nexis-addon-edges-left>.nexis-addon-snaps {
    transform: rotate(180deg);
}

.nexis-addon-edges-top>.nexis-addon-snaps {
    transform: rotate(-90deg);
}

.nexis-addon-edges-bottom>.nexis-addon-snaps {
    transform: rotate(90deg);
}


.nexis-addon-limits {
    background: linear-gradient(45deg, #c5c5c5, #c5c5c5 50%, #cf00cf 50%);
}