.framework-scene {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.framework-resize-drag-element {
  width: 10px;
  height: 10px;
  /* background-color: black; */
  
  position: absolute;
  bottom: 0px;
  right: 0px;

  transform: translate(75%, 75%);
  opacity: 0.5;

  z-index: 99999;

  background-image: url(/module/icons/tag.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.framework-resize-drag-element:hover {
  /* background-color: white; */
  border-color: black;
  opacity: 1;
  width: 15px;
  height: 15px;
}

.framework-resize-drag-element.framework-dir-both:hover {
  cursor: nwse-resize;
}

.framework-resize-drag-element.framework-dir-horizontal:hover {
  cursor: ew-resize;
}

.framework-resize-drag-element.framework-dir-vertical:hover {
  cursor: ns-resize;
}
