.framework-widget {
  position: absolute;
  overflow: hidden;
  
  /* default styling */
  left: 0px;
  top: 0px;

  transform-origin: top left;

  user-select: none; /* set this as the default for widgets */

  filter: drop-shadow(0px 0px 1px black);
}

.framework-widget.hidden {
  visibility: hidden;
  opacity: none;
}

/* .framework-grid-widget:not(.no-cursor):hover {
  cursor: grab;
} */

.framework-grid-widget.dragging:hover {
  cursor: move;
}


.framework-block-widget {
  min-width: 50px;
  min-height: 50px;
  background: black;
}


.framework-draggable-widget-containers {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.framework-draggable-widget-containers:not(.no-cursor) .framework-draggable-widget-titles:hover,
.framework-draggable-widget-containers:not(.no-cursor) .framework-draggable-widget-title-ends:hover {
  cursor: grab;
}

.framework-draggable-widget-containers:not(.no-cursor) .framework-draggable-widget-headers.dragging .framework-draggable-widget-titles:hover,
.framework-draggable-widget-containers:not(.no-cursor) .framework-draggable-widget-headers.dragging .framework-draggable-widget-title-ends:hover {
  cursor: grabbing;
}

.framework-draggable-widget-headers {
  position: relative;
  margin-bottom: -4px;
}

.framework-draggable-widget-titles {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: grey;

  display: inline-block;
  padding: 5px;
  padding-bottom: 6px;

  /* height: 100%; */

  transition: padding-right 100ms, border-radius 200ms;
  transition-delay: 0ms, 0ms;

  border-radius: 0px;
}

.framework-draggable-widget-containers:has(.framework-draggable-widget-bodies.draggable-widget-minimize) > .framework-draggable-widget-headers .framework-draggable-widget-titles {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transition-delay: 0ms, 100ms;
}

.framework-draggable-widget-headers .framework-draggable-widget-title-ends {
  color: transparent;
  background-color: grey;
  display: inline-block;
  
  height: calc(100% - 4px);
  width: 30px;
  position: absolute;

  transform: translateX(-1px); /* Fill horrible gap */
  transform-origin: 0 100%;

  clip-path: polygon(0 0, 2px 0, 100% 100%, 0% 100%);
  margin-bottom: -4px; /* remove strange gap between bottom of inline-block element and the parent */

  transition: transform 200ms;
  transition-delay: 100ms;
}

.framework-draggable-widget-containers:has(.framework-draggable-widget-bodies.draggable-widget-minimize) > .framework-draggable-widget-headers .framework-draggable-widget-title-ends {
  transform: translateX(-1px) scaleX(0);
  transition-delay: 0ms;
}

@keyframes minimize-bodies-forward {
  0% {
    transform: unset;
    display: block;
  }
  50% {
    transform: scaleX(0.1);
  }
  99% {
    transform: scale(0.1);
    display: block;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes minimize-bodies-reverse {
  0% {
    visibility: visible;
    transform: scaleY(0.1);
    width: 0px;
    transform-origin: 100% 0%;
  }
  50% {
    width: 100%;
    transform: scaleY(0.1);
  }
  100% {
    transform-origin: 100% 0%;
    transform: unset;
  }
}

.framework-draggable-widget-bodies {
  /* padding: 20px; */
  background: linear-gradient(315deg, #fffde1, #dddab1);
  visibility: visible;
  transform-origin: 0 0;

  animation: minimize-bodies-reverse 300ms;

  flex-grow: 1;
  position: relative;
}

.framework-draggable-widget-bodies:has(> :empty) {
  padding: 20px;
}

.framework-draggable-widget-bodies.draggable-widget-minimize {
  animation: minimize-bodies-forward 300ms;
}

.framework-draggable-widget-button-holder {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(100%, -50%);

  transition: transform 100ms, right 100ms;

  display: flex;
  gap: 2px;
}

.framework-draggable-widget-titles.show-buttons > .framework-draggable-widget-button-holder,
.framework-draggable-widget-containers:has(.framework-draggable-widget-bodies.draggable-widget-minimize) > .framework-draggable-widget-headers .framework-draggable-widget-button-holder {
  transform: translateY(-50%);
  right: 5px;
}

.framework-widget.is-minimized {
  width: min-content !important;
  height: unset !important;
}

.framework-draggable-widget-button-holder > .framework-draggable-widget-buttons:hover {
  cursor: pointer;
}

.framework-draggable-widget-buttons {
  border-radius: 50%;
  display: inline-block;

  position: relative;
  vertical-align: middle;
}

.framework-draggable-widget-buttons > svg {
  /*width: 100%;
  height: 100%;*/

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.draggable-widget-minimize {
  display: none;
}
